<html>
<head>
<title>{{ title }} - ENPM809J Cobra Kai</title>
</head>
<body>
<center><img src="static/logo.jpeg"></center>
<center>
<h1>About Cobra Kai</h1>

<a href=/>Home</a> -
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a>
<br><br>
</center>
<center>
<h2>The First Creed</h2>
<h2>STRIKE FIRST - STRIKE HARD - NO MERCY</h2>
<br>
<h2>The Second Creed</h2>
<h3><b>"We do not train to be merciful. Mercy is for the week. Here, on the streets, in competition: A man confronts you, he is the enemy. An enemy deserves no mercy."</b></h3>
</center>
<br>
<h2>History</h2>

After winning the All Valley Karate tournament in 1982 and 1983, and not losing a single point in the latter, Johnny Lawerence led a series of successful careers before deciding to open up the Cobra Kai dojo to teach today's troubled youth the kind of karate that he learned.

<br><br>
Despite meager beginnings the dojo quickly established itself as one of the top dojos in California, and the United States.
<br><br>
With the demand for spots in the dojo high and COVID-19 restricting in person training sessions has created a new online platform to stream live and on-demand training sessions to members all around the world, something truly disruptive in the karate world.
<br><br>
</body>
</html>

