<html>
<head>
<title>{{ title }} - ENPM809J Troll World!</title>
</head>
<body>
<h1>About Troll World</h1>

<a href=/>Home</a> -
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a>
<br><br>

<h2>History</h2>

The trolls are small creatures who live in an almost perpetual state of happiness, singing, dancing and hugging all day long. However, they are discovered by the Bergens, large, grey, orge-like creatures who never feel happy but discover that they can feel happy for a moment if they eat a troll. The Bergens put the trolls and their tree in a cage, and hold an annual festival in which each Bergen gets its feeling of happiness by eating a troll. However, the trolls, led by their King Peppy, escape through underground tunnels on the day that the Bergen crown prince, Gristle, would taste his first troll. The furious Bergen king, Gristle Sr., banishes the minister in charge of the troll preparation and his Chef.

Twenty years later, King Peppy's daughter, the extremely happy and optimistic princess Poppy, throws a big party to celebrate the trolls' escape, despite the fears and warnings of the glum and paranoid troll Branch that loud parties will attract the Bergens. Branch's fears are realized when indeed the banished Bergen The Chef sees the fireworks and captures a number of Poppy's closest friends.

After many challenges the trolls were able to show the Bergens that they can be happy outside of eating trolls and now the trolls and Bergens are best friends.

<h2>Now</h2>

Now the Bergens are obsessed with being happy and want anything and everything that trolls do.  The trolls have developed this video on demand site with popular troll video clips to 
entertain and delight the Bergens.
</body>
</html>

