<html>
<head>
<title>{{ title }} - ENPM809J Cobra Kai</title>
</head>
<body>
<center><img src="static/logo.jpeg"></center>
<center>
<a href=/>Home</a> -
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a>
</center>
<br><br>
<center><h2>STRIKE FIRST - STRIKE HARD - NO MERCY</h2></center>
<center><img src="static/cobra-kai-william-zabka-760x380.jpg" width=760 height=380></center>
<br><br>
This the official site of Cobra Kai, a karate dojo in Reseda, Los Angeles, California!  Please check out our <a href=/videos>video</a> collections and purchase as many videos as you think make sense!
<br><br>
Thank you for your patience while we work through these IT issues, I'm not a nerd. -- Sensei Johnny Lawrence
<br><br>
</body>
</html>

