<html>
<head>
<title>{{ title }} - ENPM809J Cobra Kai</title>
</head>
<body>
<h1>ENPM809J Cobra KaiLeadership</h1>

<a href=/>Home</a> - 
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a> 
<br><br>

<table>
<tr>
<td>
<img src=static/Johnny.jpg height="300" width="300">
</td><td valign=top>
<h2>Johnny Lawrence- CEO</h2>
The founder of Cobra Kai and the visionary disrupting karate and karate training with the introduction of his streaming platform for karate training
</td>
</tr><tr>
<td>
<img src=static/Miguel.png height="300" width="300">
</td><td valign=top>
<h2>Miguel Diaz – Chief Operating Officer</h2>

Miguel is the person in charge of daily operations for Cobra Kai and its streaming platform.
</td>
</tr><tr>
<td>
<img src=static/Aisha.png  height="300" width="300">
</td><td valign=top>
<h2>Aisha Robinson - CISO and Head of Corporate Security</h2>

Aisha is the enforcer for Cobra Kai both in person and online. Her security and risk focused mindset helps her discover and mitigate risks before they are exploited.
</td>
</tr><tr>
<td>
<img src=static/Hawk.png  height="300" width="300">
</td><td valign=top>
<h2>Eli “Hawk” Moskowitz - Chief Information Officer</h2>

“Hawk” is the brains behind the development of Cobra Kai’s streaming platform
</td>
</tr></table>
</body>
</html>

