<html>
<head>
<title>{{ title }} - ENPM809J Troll World!</title>
</head>
<body>
<h1>ENPM809J Troll World Leadership</h1>

<a href=/>Home</a> - 
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a> 
<br><br>

<table>
<tr>
<td>
<img src=static/poppy.png height="300" width="300">
</td><td valign=top>
<h2>Poppy - CEO</h2>

Poppy is the queen and CEO of the trolls.  She is relentlessly upbeat and sets the corporate vision for the trolls.  She loves hugs.
</td>
</tr><tr>
<td>
<img src=static/branch.png  height="300" width="300">
</td><td valign=top>
<h2>Branch - CISO and Head of Corporate Security</h2>


Branch is the over- cautious paranoid survivalist in Troll Village, who lives in fear of invasion from the Bergens. The only troll in the village who doesn't sing, dance, or hug, Branch lives a disgruntled existence, constantly trying to prepare for the worst. He's constantly flummoxed by the over- the- top positivity of the other Trolls - is he the only sane one in this crowd of exuberantly happy Trolls? He does not like the cloud.
</td>
</tr><tr>
<td>
<img src=static/cloud-guy.png  height="300" width="300">
</td><td valign=top>
<h2>Cloud Guy - Chief Architect</h2>
Cloud Guy has been hired to modernize the troll’s IT infrastructure.  He wears socks with no shoes and likes high fives.  He also obviously likes the cloud.

</td>
</tr></table>
</body>
</html>

