<html>
<head>
<title>{{ title }} - ENPM809J Cobra Kai</title>
</head>
<body>
<h1>Cobra Kai Karate Instructional Videos!</h1>
<a href=/>Home</a> -
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a>
<br><br>
<b>Professor note:</b> Humor me and pretend these links to Youtube clips are actually links to purchase them as video-on-demand and there is a whole credit card processing part to this site.
<br>
Also feel free to watch some of the clips, they are funny. 
<br><br>
<h2>Lesson 1</h2>
<img src=static/video1.png height="377" width="600">
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>Lesson 2</h2>
<img src=static/video2.png height="377" width="600">
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>Lesson 3</h2>
<img src=static/video3.png height="377" width="600">
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>Lesson 4</h2>
<img src=static/video4.png height="377" width="600">
<br>
<b><a href=/buy>Buy Video</a></b>

</body>
</html>

