<html>
<head>
<title>{{ title }} - ENPM809J Troll World!</title>
</head>
<body>
<h1>Videos!</h1>
<a href=/>Home</a> -
<a href=/videos>Videos</a> -
<a href=/about>About</a> -
<a href=/leadership>Leadership</a>
<br><br>
<b>Professor note:</b> Humor me and pretend these links to Youtube clips are actually links to purchase them as video-on-demand and there is a whole credit card processing part to this site.
<br>
Also feel free to watch some of the clips, they are funny. 
<br><br>
<h2>"Can't Stop The Feeling!"</h2>
<a href="https://www.youtube.com/watch?v=oWgTqLCLE8k">
<img src=static/video1.png height="377" width="600">
</a>
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>"Get Back Up Again"</h2>
<a href="https://www.youtube.com/watch?v=IFuFm0m2wj0">
<img src=static/video2.png height="377" width="600">
</a>
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>Meet Cloud Guy</h2>
<a href="https://www.youtube.com/watch?v=XnJSFn4jbuc">
<img src=static/video3.png height="377" width="600">
</a>
<br>
<b><a href=/buy>Buy Video</a></b>

<br><br>

<h2>“Love Train”</h2>
<a href="https://www.youtube.com/watch?v=y_Gq2lhUdOc">
<img src=static/video4.png height="377" width="600">
</a>
<br>
<b><a href=/buy>Buy Video</a></b>

</body>
</html>

